body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f5f5dc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 30px;
}

.auth-box {
  border: 1px solid lightgray;
  background-color: #f9f9f9;
  padding: 20px;
  width: 200px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  margin: 0 auto;
}
input {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

button {
  border-radius: 20px;
  border: none;
  background-color: coral;
  color: white;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}
